(
    output_path: "bunny.png",
    width: 250,
    height: 250,
    crop: true,
    sampler: StratifiedSampler(
        x_strata_count: 2,
        y_strata_count: 2,
        jitter: true,
    ),
    part: Part(
        stl_path: "resources/bunny.stl",
        material: Material(
            color: Rgb(r: 1.0, g: 1.0, b: 1.0),
            ambient: 0.2,
            diffuse: 0.7,
            specular: 0.5,
            shininess: 100.0,
        ),
        handedness: RightHanded,
    ),
    lights: [
        PointLight(
            position: Spherical(radius: 5.0, theta: 50, phi: -130),
            intensity: Rgb(r: 20.0, g: 20.0, b: 20.0),
        ),
        PointLight(
            position: Spherical(radius: 5.0, theta: 50, phi: -45),
            intensity: Rgb(r: 5.0, g: 5.0, b: 5.0),
        ),
    ],
    camera: OrthographicCamera(
            position: Spherical(radius: 1.0, theta: 60.0, phi: -100),
            z_near: 0.0,
            z_far: 10.0,
    )
)